/* google fonts import (Be Vietnam Pro) */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tagesschrift&display=swap');
/* Overide default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #fdfdfd;
  font-family: "Be Vietnam Pro", sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}

/* Header */
.header{
  background-color: #fdfdfd;
  padding: 0 0.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}
header a:hover {
  color: #6f5e53;
}

.header-logo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  text-align: center;
  display: block;
}
.nav-list {
  gap: 1rem;
  list-style: none;
  padding-left: 1rem;
}
.nav-list li {
  margin-bottom: 0.6rem;
}

nav{
  position: absolute;
  background-color: #fdfdfd;
  width: 100%;
  left: 0;
  padding: 1rem;
  display: none;
  top: 100%;
}
.header-icons{
  display: none;
}
.icon-search, .icon-currency, .icon-user {
  font-size: 1.25rem;
  margin-left: 1rem;
}
.icon-search:hover, .icon-currency:hover, .icon-user:hover {
  color: #6f5e53;
}


/* navbar toggle styles */
.menu-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  }

.header-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding: 0 1rem;
  width: 100%;
}

.header-nav.active {
    display: flex;
  }
/* main content */
main{
  flex: 1 0 auto;
  margin-top: 32.4px;
}

/* hero section */
#hero {
  height: 300px;
  width: 100%;
  background: url("../images/hero-bg.jpg") no-repeat center left/cover;
}

/* hero content */
.hero-text {
  font-size: 125%;
  bottom: 20px;
  width: 60%;
  min-height: 200px;
  padding-top: 100px;
  padding-left: 20px;
}

.hero-text > h2 {
    color: #ffffff;
}
.hero-text .btn {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #6f5e53;
  font-size: 1rem;
  font-weight:300;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.hero-text .btn:hover {
  background-color: #5a4c42;
}

 /* Products Section */ 
.products {
  padding: 0;
  background-color: #fff;
}

.products h2 {
  margin-bottom: 1rem;
  padding-left: 40px;
}

.product-card h3, .product-card p {
  padding-left: 0.25rem;
  padding-top: 0.5rem;
  font-size: small;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-track-container {
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex: 1;
}

.carousel-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.product-card {
  min-width: 100px;
  background: #f9f9f9;
  text-align: start;
  flex-shrink: 0;
  list-style-type: none;
}

.product-card img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.carousel-btn {
  padding: 0.5rem 1rem;
}


/* media query for larger screen (768px and up) */
@media (min-width: 768px) {
   .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;     
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 0.5rem 2rem;
    z-index: 2;         
  }
  
  .header-logo {
    font-size: 2rem;
  }
  nav{
    background-color: transparent;
    font-size: 110%;
    font-weight: bold;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .nav-list li {
    margin-bottom: 0;
  }
  
  .header-icons {
    display: flex;
    gap: 1rem;
    font-size: 110%;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .header-nav {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    padding: 0;
  }
  #hero{
    height: 400px;
  }
  main {
    margin-top: 0;
  }
  /* hero content */
  .hero-text {
    width: 400px;
    padding-left: 4rem;
    font-size: 200%;
    bottom: 20px;
    min-height: 400px;
    padding-top: 135px;
  }
  /* product section */
  .products {
    padding: 2rem;
  }
  .products h2 {
    margin-bottom: 2rem;
    padding-left: 40px;
  }
  .product-card img{
    width: 300px;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 1rem;
  } 
  .product-card h3, .product-card p {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: large;
  }
}
