/* google fonts import (Be Vietnam Pro) */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tagesschrift&display=swap');
/* Overide default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #fdfdfd;
  font-family: "Be Vietnam Pro", sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font: inherit;
}

/* Header */
.header{
  background-color: #fdfdfd;
  padding: 0 0.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header-logo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  text-align: center;
  display: block;
}


.nav-list {
  gap: 1rem;
  list-style: none;
  padding-left: 1rem;
}
.nav-list li {
  margin-bottom: 0.6rem;
}

nav{
  position: absolute;
  background-color: #fdfdfd;
  width: 100%;
  left: 0;
  padding: 1rem;
  display: none;
  top: 100%;
}
.header-icons{
  display: none;
}

/* navbar toggle styles */
.menu-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  }

.header-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding: 0 1rem;
  width: 100%;
}

.header-nav.active {
    display: flex;
  }
/* main content */
main{
  flex: 1 0 auto;
  margin-top: 32.4px;
}

/* hero section */
#hero {
  height: 300px;
  width: 100%;
  background: url("../images/hero-bg.jpg") no-repeat center left/cover;
}
/* media query for larger screen (1920px and up) */
@media (min-width: 920px) {
   .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;     
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 2rem  3rem;
    z-index: 2;         
  }
  
  .header-logo {
    font-size: 2rem;
  }
  nav{
    background-color: transparent;
    font-size: 110%;
    font-weight: bold;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .nav-list li {
    margin-bottom: 0;
  }
  
  .header-icons {
    display: flex;
    gap: 1rem;
    font-size: 110%;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .header-nav {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    padding: 0;
  }
  #hero{
    height: 400px;
  }
  main {
    margin-top: 0;
  }
}
